spring:
  application:
    name: Spring Batch Processing Demo
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test_batch_db?useUnicode=true&characterEncoding=utf8&useSSL=false
    name: MySQL Connection
    username: root
    password: root
    hikari:
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    database-platform: org.hibernate.dialect.MySQLInnoDBDialect
    database: MYSQL
    show_sql: false
    properties:
        hibernate.cache.use_second_level_cache: false
        hibernate.cache.use_query_cache: false
        hibernate.generate_statistics: false
  jackson:
        serialization:
          write_dates_as_timestamps: false
  batch:
    initialize-schema: always
server:
  port: 8080
debug: false